In [1]:
company_detail_list = [
    {'name': 'Company 1', 'domain': 'Retail', 'country': 'United States'},
    {'name': 'Company 2', 'domain': 'Technology', 'country': 'United Kingdom'},
    {'name': 'Company 3', 'domain': 'Healthcare', 'country': 'United States'}
]

# Mendapatkan daftar nama perusahaan, lalu mengurutkannya secara terbalik
sorted_companies = sorted([{'name': company['name']} for company in company_detail_list], key=lambda x: x['name'], reverse=True)

print(sorted_companies)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

In [2]:
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [5]:
employee_detail_list = [
    {'name': 'EMP-0001', 'full_name': 'John Doe', 'company': 'Company 1', 'nationality': 'Australia'},
    {'name': 'EMP-0002', 'full_name': 'Tom Smith', 'company': 'Company 2', 'nationality': 'United States'},
    {'name': 'EMP-0003', 'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'nationality': 'United States'},
    {'name': 'EMP-0005', 'full_name': 'Ying Han Tan', 'company': 'Company 1', 'nationality': 'Australia'},
    {'name': 'EMP-0015', 'full_name': 'Kenneth Ng', 'company': 'Company 3', 'nationality': 'United States'},
    {'name': 'EMP-0018', 'full_name': 'Rubby Lee', 'company': 'Company 2', 'nationality': 'Hong Kong'},
    {'name': 'EMP-0017', 'full_name': 'Robert White', 'company': 'Company 1', 'nationality': 'United Kingdom'}
]

# Membuat mapping antara nama perusahaan dan domain
company_domains = {company['name']: company['domain'] for company in company_detail_list}

# Mengelompokkan karyawan berdasarkan domain perusahaan
employees_by_domain = {}
for employee in employee_detail_list:
    domain = company_domains[employee['company']]
    if domain not in employees_by_domain:
        employees_by_domain[domain] = []
    employees_by_domain[domain].append(employee['full_name'])

print(employees_by_domain)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [6]:
def get_employees_with_country():
    # Membuat mapping antara nama perusahaan dan negara
    company_countries = {company['name']: company['country'] for company in company_detail_list}

    # Membuat daftar hasil sesuai permintaan
    result = []
    for employee in employee_detail_list:
        result.append({
            "full_name": employee['full_name'],
            "company": employee['company'],
            "country": company_countries[employee['company']]
        })
    return result

print(get_employees_with_country())

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

In [4]:
def get_employee_nationalities():
    # Inisialisasi hasil akhir
    result = []

    # Kelompokkan data karyawan berdasarkan perusahaan dan kebangsaan
    for company in company_detail_list:
        nationality_count = {}
        for employee in employee_detail_list:
            if employee['company'] == company['name']:
                nationality = employee['nationality']
                if nationality in nationality_count:
                    nationality_count[nationality] += 1
                else:
                    nationality_count[nationality] = 1
        result.append({
            "company": company['name'],
            "employee_nationality": nationality_count
        })

    return result

print(get_employee_nationalities())

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]